body {
    background-color:  #3E0000;
	font-family: 'Gentium Basic', serif;
  text-align: center;
  width:95%;
  position:relative;
}

header {
    background-color:  MintCream;
}
/** ################################**/
/** ################################**/
/** TEXT ReSTYLE **/
/** ################################**/
/** ################################**/


/** ################################**/
/** ################################**/
/** COLORS **/


/** COLORS     https://www.colorhexa.com/800080 /** COLORS **/
/** Black  RGB: (0,0,0)**/
/** Dark Chocolate RGB: (64,0,0) **/
/** Maroon RGB: (128,0,0) **/
/** UE Sienna  RGB: (191,0,0)**/
/** Sienna  RGB: (255,0,0)**/


/** ################################**/
/** ################################**/


h4 {
		font-size: 1em;
	font-weight: bold;
	}
	
	h4:hover, h4:focus{
	text-decoration: none;
	}

h5{
		font-size: 1em;
}

h6{
	font-weight: bold;
	padding-top:15px;
}

sub{
	font-weight:bold;
	font-size: .7em;
}


/** ################################**/
/** ################################**/
/** Button language select **/
/** ################################**/
.button {
	position:relative;
  border-radius: 4px;
  background-color: MintCream;
  border: none;
   font-size: 1.3em;
  font-weight:700;
   width:auto;
  height: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 1px 2px 10px black;
}



.button span {
  cursor: pointer;
  font-weight:bold;
  display: inline-block;
  position: relative;
  transition: 0.5s;
 
}
/** 
.button span:after {
  content: ' \21E9 ';
  position: relative;
  opacity: 0;
  right: -1.2px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 1em;
  padding-right: 1em;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

*/



/** Button language select **/
/** ################################**/
/** ################################**/
/** ################################**/

/** HEADER **/

/** ################################**/
/** ################################**/
/** Menu DESTRA **/
/** ################################**/
/** ################################**/




#riepilogo, #main-content, #menu-lato{
position:relative;
margin:0;
padding-left:10px;
}

#riepilogo_xs, #main-content_xs, #menu-lato_xs{
position:relative;
margin:0;
padding-left:10px;
}

#scroll-left{
margin:0;
padding:0px;
height:30em;
overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#scroll-left::-webkit-scrollbar {
    display: none;
}

#main-content{
margin:0;
padding:0px;
height:60em;
overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-content::-webkit-scrollbar {
    display: none;
}


#photo_container{
height:320px;
width:100%;
background-color:MintCream;
padding:10px;
box-shadow: 0px 2px 10px black;
}

#photo_container_xs{
height:270px;
width:90%;
background-color:MintCream;
padding:10px;
box-shadow: 0px 2px 10px black;
}

#photo_1{
  max-width: 150px;
  height: 150px ;
border-radius:100%;
background: url('../images/profile.jpg') no-repeat center;
background-size: cover;
padding:10px;
}



#Nome a{
	color: black;
	font-weight:bold;		
}

#Descr_gen {
	margin-bottom: 10px;
}
#Descr_gen a{
	color: grey;
}

#Contacts{
width:180px;
}

#info{
padding:0px;
margin:0px;
border:0px;
}

#CV-download{
text-align:center;
}

.table_sample{
	width:80%;
list-style-type: none;
    display: flex;
    justify-content: space-between;
	margin-bottom: 2px;
	margin-left: 10%;

}

.bold{
	font-weight: bold;
}

.table-multi-social {

	display: flex;
	justify-content: space-between;
    margin-bottom: 5px;
	margin:0;
	padding:5%;
	border:0;
}
.table-multi-social a{
	margin:0;
	padding:0;
	border:0;
	}
	
	.table-multi {
    width:100%;
	 display: flex;
	justify-content: space-between;
    margin-bottom: 5px;
	margin:0;
	padding:0;
	border:0;
}
.table-multi a{
	margin:0;
	padding:0;
	border:0;
	margin-bottom: 5px;
	}

.art-lang-skills-item {
width: 23%;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;

}



.line-progress{
line-height: .4;	
}



.art-lang-skills .art-lang-skills-item .art-cirkle-progress {
    width: 65%;
    margin: 0 auto 15px;
}


.skills_left{
	position:relative;
	margin:1%;
	width:48%;
	float:left;
}	

.skills_right{
	position:relative;
	width:48%;
	margin:1%;
		float:left;
}	

.skills-item{
	background-color:MintCream;
	box-shadow:0px 2px 10px black;
margin-bottom:15px;
height: 65px;
}



#photo_2{
	position:relative;
	float:left;
height:250px;
width:50%;
padding:10px;

}

#photo_3{
position:relative;
	float:left;
height:250px;
width:50%;
padding:10px;

}

#photo_4_xs{
position:relative;
height:200px;
width:300px;

}



ul {
  text-align:left;
  list-style-type: none;
  margin: 0;
  padding: 0;

  }

li a {
  display: block;
  color:grey;
  text-decoration: none;

}

li a.active {
  color: #800040;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: purple;
  text-decoration: none;
}

/** ################################**/
/** ################################**/
/** SKILLS **/
/** ################################**/
/** ################################**/





.skill-heading {
font-weight:bold;
font-size:1.3em;
}


#style-bar{
	width:80%;
	height:100%;
	border-radius:4px;
	
}


#background{
stroke-width:2px;
stroke:lightgrey;
fill-opacity: 1;
stroke-dasharray: 100;

}
#background-25{
stroke-width:2px;
stroke:lightgrey;
fill-opacity: 1;
stroke-dasharray: 100;

}


#bar-value-25{
stroke-width:3px;
stroke:Sienna;
fill-opacity: 0;
stroke-dashoffset:70;
stroke-dasharray: 90;
}
#bar-value-50{
stroke-width:3px;
stroke:Sienna;
fill-opacity: 0;

}

#bar-value-65{
stroke-width:3px;
stroke:Sienna;
fill-opacity: 0;
stroke-dasharray: 75;
}


#bar-value-75{
stroke-width:3px;
stroke:Sienna;
fill-opacity: 0;
stroke-dasharray: 75;
}
#bar-value-90{
stroke-width:3px;
stroke:Sienna;
fill-opacity: 0;
stroke-dasharray: 90;
}

#bar-value-95{
stroke-width:3px;
stroke:Sienna;
fill-opacity: 0;
stroke-dasharray: 95;
}

#bar-value-100{
stroke-width:3px;
stroke:Sienna;
fill-opacity: 0;
stroke-dasharray: 100;
}


.progressbar-text{
	position:relative;
	top:-12px;
	color:grey;
	padding:0;
	border:0;
	font-weight:bold;
	font-size: 1em;
	margin:0;
	}

/** ################################**/
/** ################################**/
/** Menu DESTRA **/
/** ################################**/
/** ################################**/


/** ################################**/
/** ################################**/
/** GET IN TOUCH FORM **/
/** ################################**/
/** ################################**/

.title{
	margin-left:10px;
	padding:0;
	float:left;
}
#form-icon{
	position:relative;
	padding:5px;
}
#form-text{
	position:relative;
	padding:0;
	margin:0;
	border:0;	

}
#identifica{

}
.section-title{
	float:left;
}


.form-field{
		 display: flex;
	justify-content: space-between;
	padding-bottom:10px;
		padding:0;
	margin:0;
	border:0;	
	width:100px;
		clear:both;
}

.card{
	position:relative;

		padding:0;
	margin:0  30% 0;
	border:0 ;	
	width:200px;
}

#descr_exp{
	position:relative;
	}
	




#descr_list{
	 text-align: justify;
	text-justify: inter-word;
	max-width: 75%;
	}
#descr_list-xs{
	 text-align: justify;
	text-justify: inter-word;
	max-width: 95%;
	}
.experience h4{
	position:relative;
	float:right;


}


.experience{
	position:relative;
	float:left;

padding:10px;
height:20em;
width:100%;
overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.experience::-webkit-scrollbar {
    display: none;
}


#timebar_1{
	position:absolute;
	width:7px;
	padding:0px;
	height:45%;
	background-color:grey;
	border-radius:5px;
	bottom:20%;
	left:90%;
	}
	
	#timebardot_1{
	position:absolute;
	padding:0px;
	left:89.5%;
	top:90%;
	font-size:1.5vw;
	color:grey;
	}
	
	#timebar_2{
	position:absolute;
	width:7px;
	padding:0px;
	height:55%;
	background-color:grey;
	border-radius:5px;
	bottom:20%;
	left:90%;
	}
	
	#timebardot_2{
	position:absolute;
	width:7px;
	padding:0px;
	height:5%;
	background-color:grey;
	border-radius:5px;
	bottom:2%;
	left:90%;
	}
	
	#timebar_3{
	position:absolute;
	width:7px;
	padding:0px;
	height:50%;
	background-color:grey;
	border-radius:5px;
	bottom:20%;
	left:90%;
	}
	
	#timebardot_3{
	position:absolute;
	width:7px;
	padding:0px;
	height:1%;
	background-color:grey;
	border-radius:5px;
	bottom:2%;
	left:90%;
	}
	
	#timebar_4{
	position:absolute;
	width:7px;
	padding:0px;
	height:40%;
	background-color:grey;
	border-radius:5px;
	bottom:20%;
	left:90%;
	}
	
	#timebardot_4{
	position:absolute;
	width:7px;
	padding:0px;
	height:2%;
	background-color:grey;
	border-radius:5px;
	bottom:5%;
	left:90%;
	}
	
#stud{
	padding-right:10px;
}
	
	


/** ################################**/
/** ################################**/
/** END ---- GET IN TOUCH FORM **/
/** ################################**/
/** ################################**/

/* evidenzia posizione menu */ 
  
   #selector-home  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
     #selector-blog  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
     #selector-calendar  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
     #selector-contacts  {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw #222;
  }
  
         #selector-home a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
         #selector-blog a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
         #selector-calendar a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
       #selector-contacts a {
	  color: #DABDAB;
    text-shadow: .2vw .2vw .2vw black;
  }
  
  

  
  /* evidenzia posizione menu */ 

/* END HOME PAGE */

/* FOOTER */

	#footer {
		position: relative;
 /* background: url('../images/main_large.jpeg') no-repeat;*/
      border-radius: 10% 10% 10% 10%;
  font-size: 1.2em;
  color: white;
	}
		
#github, #skype, #linkedin, #facebook, #instagram, #twitter {

    font-size: 1.5em;
}
#maps{
	    font-size: 0.7em;
		color:grey;
}

#maps:active{
  color: red;
  text-decoration: none;
}
#maps:hover{
  color: purple;
  text-decoration: none;
}


/* PROVA FLOATING OBJECT
@keyframes example {
  0%   {background-color:Sienna; left:20px; top:0px;}
  25%  {background-color:yellow; left:90%; top:0px;}
  50%  {background-color:blue; left:90%; top:20px;}
  75%  {background-color:green; left:20px; top:20px;}
  100% {background-color:Sienna; left:20px; top:0px;}
}

#prova {
  width: 5vw;
  height: 5vw;
  position: relative;
  animation: example 5s linear 1s infinite alternate;
}*/


/* END FOOTER */


@media (min-device-width: 1087px) and (max-device-width: 1500px)  {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  
}

@media (min-device-width: 767px) and (max-device-width: 1086.99px)  {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  
}

@media (min-device-width: 480px) and (max-device-width: 766.99px)  {
  .col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12 {
    float: left;
  }
  .col-sd-12 {
    width: 100%;
  }
  .col-sd-11 {
    width: 91.66666667%;
  }
  .col-sd-10 {
    width: 83.33333333%;
  }
  .col-sd-9 {
    width: 75%;
  }
  .col-sd-8 {
    width: 66.66666667%;
  }
  .col-sd-7 {
    width: 58.33333333%;
  }
  .col-sd-6 {
    width: 50%;
  }
  .col-sd-5 {
    width: 41.66666667%;
  }
  .col-sd-4 {
    width: 33.33333333%;
  }
  .col-sd-3 {
    width: 25%;
  }
  .col-sd-2 {
    width: 16.66666667%;
  }
  .col-sd-1 {
    width: 8.33333333%;
  }
  
}




/** ################################**/
/** ################################**/

/**IF OTHERWISE NOT SPECIFIED
/** ################################**/
/** ################################**/

a:focus, a:hover {
	
    text-decoration: none;
}

hr {
	height:5px;
	width:80%;
	margin-bottom:10px;
	margin-top:5px;
	  border-top: 3px solid Sienna;
	  border-radius: 2px;
	  position:relative;
	  left:10%;
}

#intra {
	height:5px;
	width:80%;
	margin-bottom:10px;
	margin-top:10px;
	  border-top: 3px solid #3E0000;
	  border-radius: 2px;
	  position:relative;
	  left:0;
}




/** ################################**/
/** ################################**/

/**SLIDESHOW BEGIN
/** ################################**/
/** ################################**/

.mySlides {
	border-radius:10%;
/**	max-width:200px; **/
/**	max-height:200px;**/
	width:100%;
	height:100%;
	}
	
	.mySlides_2 {
	border-radius:10%;
/**	max-width:200px; **/
/**	max-height:200px;**/
	width:100%;
	height:100%;
	}

.w3-animate-fading {
    animation: fading 5s 1;
}
.w3-animate-zoom {
}



/** ################################**/
/** ################################**/

/**SLIDESHOW END
/** ################################**/
/** ################################**/



/** ################################**/
/** ################################**/

/**COUNTER
/** ################################**/
/** ################################**/

/* Center child elements */
body,
.website-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Styles for website counter container */
.website-counter {
  color: white;
  font-weight: 700;
  font-size: 1.2em;
}

/* Styles for reset button */
#reset {
  cursor: pointer;
  font-size: 1.2em;
  color: white;
  border: 0;
}


/** ################################**/
/** ################################**/

/**COUNTER END
/** ################################**/
/** ################################**/





/** ################################**/
/** ################################**/

/**SIDEBAR- over XS
/** ################################**/
/** ################################**/



/* ScrolBar  */
.scrollbar-side{

}

.scrollbar-side:hover
{
position:absolute;
background-color:transparent;
}


#mainmenu > a:hover, #mainmenu > a:focus {
position:absolute;
text-decoration:none;

}

.main-menu li:hover>a,nav.main-menu li.active>a,{
color:#fff;
background-color:#3E0000;
}

#nav-list li{
text-align:center;
padding:.2em;
margin:.2em;
}

#nav-list hr{
text-align:center;
padding:0;
margin:0;
}

.bar-studi{
	width:92%;
	left:2%;
}


/* ############################### */
/* ############################### */
/* SIDEBAR  */
/* ############################### */
/* ############################### */



/* ############################### */
/* ############################### */
/* SIDEBAR  */
/* ############################### */
/* ############################### */




#apri{
	background-color:transparent;
    position: fixed!important;
	color: white;
	margin:10px;
	}
	



#mySidebar{
	list-style-type:none;
	text-align:left;
	opacity:.95;
}

#mySidebar a{
margin-left:10px;
}

.fa-sliders{
	position:relative;
	margin-left:80%;
}

.w3-sidebar {
    height: 30%;
    width: 180px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
}

